/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@import './markdown.css';

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: theme('colors.dusk.500');
    --ion-color-primary-rgb: 81, 82, 113;
    --ion-color-primary-contrast: theme('colors.white.DEFAULT');
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: theme('colors.dusk.300');
    --ion-color-primary-tint: theme('colors.dusk.700');
  
    /** secondary **/
    --ion-color-secondary: theme('colors.azure.500');
    --ion-color-secondary-rgb: 42, 182, 205;
    --ion-color-secondary-contrast: theme('colors.white.DEFAULT');
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: theme('colors.azure.300');
    --ion-color-secondary-tint: theme('colors.azure.700');
  
    /** tertiary **/
    --ion-color-tertiary: theme('colors.cornflower.500');
    --ion-color-tertiary-rgb: 104, 118, 225;
    --ion-color-tertiary-contrast: theme('colors.white.DEFAULT');
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: theme('colors.cornflower.300');
    --ion-color-tertiary-tint: theme('colors.cornflower.700');
  
    /** success **/
    --ion-color-success: theme('colors.vista-blue.500');
    --ion-color-success-rgb: 136, 212, 166;
    --ion-color-success-contrast: theme('colors.white.DEFAULT');
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: theme('colors.vista-blue.300');
    --ion-color-success-tint: theme('colors.vista-blue.700');
  
    /** warning **/
    --ion-color-warning: theme('colors.pumpkin-orange.500');
    --ion-color-warning-rgb: 250, 162, 158;
    --ion-color-warning-contrast: theme('colors.white.DEFAULT');
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: theme('colors.pumpkin-orange.300');
    --ion-color-warning-tint: theme('colors.pumpkin-orange.700');
  
    /** danger **/
    --ion-color-danger: theme('colors.muted-blue.500');
    --ion-color-danger-rgb: 244, 110, 113;
    --ion-color-danger-contrast: theme('colors.white.DEFAULT');
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: theme('colors.muted-blue.300');
    --ion-color-danger-tint: theme('colors.muted-blue.700');
  
    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: theme('colors.white.DEFAULT');
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
  
    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: theme('colors.white.DEFAULT');
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;
  
    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: theme('colors.black.DEFAULT');
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
}
  
  @media (prefers-color-scheme: dark) {
/*
 * Dark Colors
 * -------------------------------------------
 */

  :root {
    /** primary **/
    --ion-color-primary: theme('colors.dusk.500');
    --ion-color-primary-rgb: 81, 82, 113;
    --ion-color-primary-contrast: theme('colors.white.DEFAULT');
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: theme('colors.dusk.300');
    --ion-color-primary-tint: theme('colors.dusk.700');
  
    /** secondary **/
    --ion-color-secondary: theme('colors.azure.500');
    --ion-color-secondary-rgb: 42, 182, 205;
    --ion-color-secondary-contrast: theme('colors.white.DEFAULT');
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: theme('colors.azure.300');
    --ion-color-secondary-tint: theme('colors.azure.700');
  
    /** tertiary **/
    --ion-color-tertiary: theme('colors.cornflower.500');
    --ion-color-tertiary-rgb: 104, 118, 225;
    --ion-color-tertiary-contrast: theme('colors.white.DEFAULT');
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: theme('colors.cornflower.300');
    --ion-color-tertiary-tint: theme('colors.cornflower.700');
  
    /** success **/
    --ion-color-success: theme('colors.vista-blue.500');
    --ion-color-success-rgb: 136, 212, 166;
    --ion-color-success-contrast: theme('colors.white.DEFAULT');
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: theme('colors.vista-blue.300');
    --ion-color-success-tint: theme('colors.vista-blue.700');
  
    /** warning **/
    --ion-color-warning: theme('colors.pumpkin-orange.500');
    --ion-color-warning-rgb: 250, 162, 158;
    --ion-color-warning-contrast: theme('colors.white.DEFAULT');
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: theme('colors.pumpkin-orange.300');
    --ion-color-warning-tint: theme('colors.pumpkin-orange.700');
  
    /** danger **/
    --ion-color-danger: theme('colors.muted-blue.500');
    --ion-color-danger-rgb: 244, 110, 113;
    --ion-color-danger-contrast: theme('colors.white.DEFAULT');
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: theme('colors.muted-blue.300');
    --ion-color-danger-tint: theme('colors.muted-blue.700');

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: theme('colors.black.DEFAULT');
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: theme('colors.black.DEFAULT');
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: theme('colors.white.DEFAULT');
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

/*
 * iOS Dark Theme
 * -------------------------------------------
 */

.ios body {
  --ion-background-color: theme('colors.black.DEFAULT');
  --ion-background-color-rgb: 0, 0, 0;

  --ion-text-color: theme('colors.white.DEFAULT');
  --ion-text-color-rgb: 255, 255, 255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --IonItem-background: theme('colors.black.DEFAULT');

  --ion-card-background: #1c1c1d;
}

.ios body ion-modal {
  --ion-background-color: var(--ion-color-step-100);
  --IonToolbar-background: var(--ion-color-step-150);
  --IonToolbar-border-color: var(--ion-color-step-250);
  --IonItem-background: var(--ion-color-step-150);
}

/*
 * Material Design Dark Theme
 * -------------------------------------------
 */

.md body {
  --ion-background-color: theme('colors.black.DEFAULT');
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: theme('colors.white.DEFAULT');
  --ion-text-color-rgb: 255, 255, 255;

  --ion-border-color: #222222;

  --ion-color-step-50: #1e1e1e;
  --ion-color-step-100: #2a2a2a;
  --ion-color-step-150: #363636;
  --ion-color-step-200: #414141;
  --ion-color-step-250: #4d4d4d;
  --ion-color-step-300: #595959;
  --ion-color-step-350: #656565;
  --ion-color-step-400: #717171;
  --ion-color-step-450: #7d7d7d;
  --ion-color-step-500: #898989;
  --ion-color-step-550: #949494;
  --ion-color-step-600: #a0a0a0;
  --ion-color-step-650: #acacac;
  --ion-color-step-700: #b8b8b8;
  --ion-color-step-750: #c4c4c4;
  --ion-color-step-800: #d0d0d0;
  --ion-color-step-850: #dbdbdb;
  --ion-color-step-900: #e7e7e7;
  --ion-color-step-950: #f3f3f3;

  --IonItem-background: #1e1e1e;

  --IonToolbar-background: #1f1f1f;

  --ion-tab-bar-background: #1f1f1f;

  --ion-card-background: #1e1e1e;
  }
}

@font-face {
  font-family: 'AirbnbCerealLight';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/AirbnbCerealLight.woff');
}
@font-face {
  font-family: 'AirbnbCerealMedium';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/AirbnbCerealMedium.woff');
}
@font-face {
  font-family: 'AirbnbCerealBold';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/AirbnbCerealBold.woff');
}
